@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    --primary-color: #fafafa;
    --secondary-color: #e4e4e7;
    --tertiary-color: #a1a1aa;
    --accentuation-color: #0ea5e9;
}

.txt-light { color: #27272a }
.txt-dark { color: #e4e4e7 }

.primary { background-color: var(--primary-color); }
.secondary { background-color: var(--secondary-color); }
.tertiary { background-color: var(--tertiary-color); }
.accentuation { background-color: var(--accentuation-color); }

.top-tooltip, .bottom-tooltip { left: -1px }

.top-tooltip
{
    top: -1px;
    left: -1px;

    transform: translateY(-100%)
}

.right-tooltip { transform: translateY(-50%) }

.bottom-tooltip
{
    bottom: -1px;
    left: -1px;
    
    transform: translateY(100%)
}

.side-panel { transform: translateY(-50%) }

input[type="color"] { background-color: transparent }

input[type="color"]::-webkit-color-swatch
{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .5), 0 1px 2px -1px rgb(0 0 0 / .5);

    border-radius: 0.75rem;
    border-style: none
}

input[type="color"]::-moz-color-swatch
{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .5), 0 1px 2px -1px rgb(0 0 0 / .5);

    border-radius: 0.75rem;
    border-style: none
}